{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block head %}
    <link href="/css/login.css" rel="stylesheet">
{% endblock %}

{% block main %}

    <div class="container">
        <br>
        <div class="row centered">
            <h1>Log In</h1>
            <div class="col-md-6">
                <div class="col-md-8 col-md-offset-2">
                    <form role="form" action="/login" method="post" enctype="plain">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email(class="form-control", placeholder="Your Email") }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label }}
                            {{ form.password(class="form-control", placeholder="Your Password") }}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success">LOGIN</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 centered">
                <a href="/facebook/login?next={{ url_for('index.index') }}"><button class="btn btn-success" id="fb-button">LOGIN WITH FACEBOOK</button></a>
            </div>
        </div>
        <br>
        <hr>
        <div class="row centered">
            <h1>Sign Up</h1>
            <div class="col-md-4 col-md-offset-4">
                <form role="form" action="/signup" method="post" enctype="plain">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.email.label }}
                        {{ form.email(class="form-control", placeholder="Your Email") }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(class="form-control", placeholder="Your Password") }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">SIGN UP</button>
                </form>
            </div>
        </div>
        <br>
    </div> <!--/ .container -->

{% endblock %}