{% extends "base.html" %}

{% block title %}Beta invite{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row centered">
            <h1>Beta invite.</h1>
            <br>
            <div class="col-md-8 col-md-offset-2">
                <h3>Thank you for requesting a beta invite!</h3>
                <h3>You're all set! We will reach out once we're ready for your beta signup!</h3>
            </div>
        </div>
        <br>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}