<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404 - MyAdventure</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <style>
        h1, h2 {
            font-family: "Raleway";
            font-weight: 300;
            color: #333;
            text-align: center;
        }
        img.centered {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <h1>Error 404</h1>
    <img class="centered" src="img/droids.jpg">
    <h2>These are not the droids you're looking for.</h2>
</body>
</html>