{% extends "base.html" %}

{% set active_page = "index" %}

{% block title %}Home{% endblock %}

{% block head %}
<link href="css/index.css" rel="stylesheet">
{% endblock %}

{% block main %}
<section id="home" name="home"></section>
<div class="header">
    <div class="container">
        <div class="row centered header-title">
            <div class="col-lg-12">
                <img src="img/map.png" alt=""/>
                <h1><b>MyAdventure</b></h1>
                <h3>Share your adventures with the world.</h3>
            </div>
        </div>
        <div class="row centered header-buttons">
            {% if not current_user.is_authenticated %}
            <!-- <div class="col-lg-3 col-lg-offset-3"> -->
                <!-- <img src="img/app-store-badge.png" class="img-responsive center-block" alt=""/> -->
                <!-- <a href="#"><button class="btn btn-lg btn-success">GET THE APP</button></a> -->
            <!-- </div> -->
            <!-- <div class="col-lg-3"> -->
                <!-- <a href="/login"><button class="btn btn-lg btn-success">LOG IN</button></a> -->
            <!-- </div> -->
            <div class="col-lg-4 col-lg-offset-4">
                <a href="/beta"><button class="btn btn-lg btn-success">BETA SIGN UP</button></a>
            </div>
            {% else %}
            <div class="col-lg-3">
                <a href="/user"><button class="btn btn-lg btn-success">MY ADVENTURES</button></a>
            </div>
            {% endif %}
        </div>
    </div> <!--/ .container -->
</div><!--/ #header -->

<!-- features -->
<section id="features" name="features"></section>
<div class="intro">
    <div class="container">
        <div class="row centered">
            <h1>Award-winning features.</h1>
            <br>
            <br>
            <div class="col-lg-4">
                <img src="img/tracking-icon.png" alt="">
                <h3>Tracking</h3>
                <p>Track your location, anytime, anywhere! Everythign you need is here!</p>
            </div>
            <div class="col-lg-4">
                <img src="img/share-icon.png" alt="">
                <h3>Sharing</h3>
                <p>Share every detail of your adventure with the world, from beatiful photos to your road journal.</p>
            </div>
            <div class="col-lg-4">
                <img src="img/social-icon.png" alt="">
                <h3>Social</h3>
                <p>Connect with all your social networks and delight your followers.</p>
            </div>
        </div>
        <br>
        <hr>
    </div> <!--/ .container -->
</div>

<!-- mobile -->
<section id="mobile" name="mobile"></section>
<div class="features">
    <div class="container">
        <div class="row">
            <h1 class="centered">Perfect for the road.</h1>
            <br>
            <br>
            <div class="col-lg-6 centered">
                <img class="centered" src="img/nexus.png" alt="">
            </div>

            <div class="col-lg-6">
                <!-- <h3>Amazing Features</h3> -->
                <br>
                <!-- accordion -->
                <div class="accordion ac" id="accordion2">
                    <div>
                        <p class="feature-title">Mobile Tracking</p>
                        <p>No need for expensive tracking devices and hefty monthly fees. Use your own Android or iOS device to track your location, post pictures, blog and share all the details from your adventure. It's the perfect adventure companion.</p>
                    </div>
                    <br>
                    <div>
                        <p class="feature-title">Offline Access</p>
                        <p>No internet, no problem! We know your adventure will take you to remote places, where internet connectivity is flaky at best. Ou app was designed specifically with that in mind. Even without connection for days, you will be able to track your location, post photos, blog and more. Once you're back online, everything will be synchronized, automatically.</p>
                    </div>
                    <br>
                    <div>
                        <p class="feature-title">Poor Networks</p>
                        <p>We know that even when there's internet connection, it might be unstable and slow. That's why we developed our app to work in the poorest network conditions. Doesn't matter how bad your connection is, you will be able to share your adventure.</p>
                    </div>
                    <br>
                </div><!-- accordion -->
            </div>
        </div>
    </div><!--/ .container -->
</div><!--/ #features -->

<!-- laptop -->
<section id="maps" name="maps"></section>
<div class="showcase">
    <div class="container">
        <div class="row">
            <h1 class="centered">Beautifully crafted maps.</h1>
            <br>
            <br>
            <h3>Maps are the core of our tool. From your map, your followers can see where you've been, check your photos, your blog posts and every other detail from your adventure.</h3>
            <h3>That's why we spent countless hours perfecting it!</h3>
            <br>
            <br>
            <div class="col-lg-8 col-lg-offset-2">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="img/map-01.png" alt="">
                        </div>
                        <div class="item">
                            <img src="img/map-02.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <h2 class="centered">Check out some <a href="/recent">adventures</a> that were recently shared!</h2>
        <br>
        <br>
    </div><!-- /container -->
</div>
{% endblock %}

{% block footer %}
<script>
    $('.carousel').carousel({
        interval: 3500
    })
</script>
{% endblock %}