{% extends "base.html" %}

{% block title %}Recent{% endblock %}

{% block head %}
{% endblock %}

{% block main %}

<!-- features -->
<div class="features">
    <div class="container">
        <div class="row centered">
            <h1>Recent adventures.</h1>
            <br>
            <br>
            {% for adventure in adventures %}
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1">
                    <img src="img/item-01.png" class="img-responsive center-block" alt="">
                </div>
                <div class="col-lg-4">
                    <h2>
                        <a href="/{{ adventure['_id'] }}">{{ adventure['name'] }}</a>
                    </h2>
                    <p class="lead">Adventure Description</p>

                </div>
            </div>
            <br>
            <br>
            {% endfor %}
            <br>
        </div>
        <br>
    </div> <!--/ .container -->
</div>
{% endblock %}

{% block footer %}
    <script>
        $('.carousel').carousel({
            interval: 3500
        })
    </script>
{% endblock %}
